body{
  background-color: #ddd;
}

#game{
  display: flex;
  height: 2rem;
  margin-block-end: .6rem;
  width: 100%;
  justify-content: center;
}

#welkom{
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

#score{
  display: flex;
  align-items: center;
}

#success,
#speelveld,
#totalTurns,
#elapsed-time{
  margin-inline-end: 1rem;
}



#field {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
  margin: 0 auto;
}

#field>div {
  padding: 5px;
  position: relative;
}

#field img {
  width: 100%;
}

.board4 {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.board5 {
  flex: 20%;
  max-width: 20%;
  box-sizing: border-box;
}

.board6 {
  flex: 16.66666%;
  max-width: 16.66666%;
  box-sizing: border-box;
}

img {
  margin: 0;
  display: block;
}

#field .covered,
#field .uncovered{
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

#field .uncovered{
  display: none;
}

#high-scores{
  box-shadow: 0px 0px 6px 2px #666;
  border-radius: 5px;
  padding: .5rem 1rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

table{
  border: 1px solid #666; 
  border-collapse: separate;
  border-spacing: 0,;
}

table th{
  background-color: #8B0000;
  color: #fff;
  padding: .2rem .5rem;
}

table td{
  padding: .2rem .5rem;
  height: 20px;
}

table tr:nth-child(odd){
  background-color: #ddd;
  margin: 0
}

@media screen and (min-width: 768px) {
  #field {
    max-width: 768px;
  }
}

